<div class="field">
	<label>
		{{ctx.Locale.Tr "repo.settings.transfer_form_title"}}
		<span class="tw-text-red">{{.RepoName}}</span>
	</label>
</div>
<div class="required field">
	<label for="{{.InputID}}">{{ctx.Locale.Tr "repo.repo_name"}}</label>
	<input id="{{.InputID}}" name="repo_name" required maxlength="100">
</div>
